<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normaluser/base::layout(~{::section})">

<head>
	<meta charset = "UTF-8" />
	<title> This is Movie Buying Page. </title>
</head>
<body>
	<section>
		<!--<h1> Welcome you are Normal User. </h1>
		<h1> User Name <span th:text="${user.name}"> </span> </h1>
		<h1> User Email <span th:text="${user.email}"> </span> </h1>
		<h1> Movie Name <span th:text="${movieticket.name}"> </span> </h1>
		<h1> Movie id <span th:text="${movieticket.id}"> </span> </h1>
		-->
		<div class="card ms-3 me-3">
			<div class="card-body">
					
					<div class="container-fluid m1-1">
					
						<div class="row">
							<div class="my_div_left">
							<img scr=""  class="my_movie_poster_single" th:src="@{'/img/'+${movieticket.movieImage}}" alt="movie poster" />
						
							</div>
						
								<div class="my_div_middle">
									<h3 class="mt-3"> <pre>Movie Name      <span> <i class="fas fa-film"></i> <span th:text= "${movieticket.name}"> </span> </pre></h3>
									<h3 class="mt-3"> <pre>Genre           <span> <i class="fas fa-compact-disc"></i> </span><span th:text= "${movieticket.genre}"> </span> </pre> </h3> 	 	
									<h3 class="mt-3"> <pre>Date            <span> <i class="far fa-calendar-alt"></i> <span th:text= "${movieticket.date}"> </span> </pre> </h3> 	
									<h3 class="mt-3"> <pre>Start Time      <span> <i class="far fa-clock"></i> </span><span th:text= "${movieticket.startTime}"> </span></pre> </h3> 	
									<h3 class="mt-3"> <pre>Seat Remaining  <span> <i class="fas fa-user"></i> </span><span th:text= "${movieticket.seatRemaining}"> </span></pre> </h3> 	
									<h3 class="mt-3"> <pre>Ticket Price    <span> <i class="fas fa-hand-holding-usd"></i> </span><span th:text= "${movieticket.ticketPrize}"> </span> Taka</pre> </h3> 	
									
								</div>			
							</div>
							
							<div class="col-md-10 offset-md-1">
								<form action="#" 
									th:object="${purchase}"
									method="POST"
									th:action="@{'/user/process-buy-ticket/'+${movieticket.id}}"
							
								>
								
								<!--Movie seat Quantity-->
								
								<div class="container">
									<div class="input-group mt-3 ">
		
										<input
											name="quantity"
			      							type="number"
			      							class="form-control"
			      							id="seat_counter_field"
			      							placeholder="Enter how many seat you want to buy"
			      							required
			      						/>
		
									</div>
								</div>
									
								<div class="container text-center mb-3 mt-3">
										
									<button class="btn btn-lg btn-outline-primary bg-primary text-white "> Buy Movie Ticket </button>
									
								</div>
								
								</form>
									
							</div>
						
						</div>
					
					</div>		
					
				</div>
				
			</div>
		</div>
		
	</section>
	
</body>
</html>
