<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normaluser/base::layout(~{::section})">

<head>
	<meta charset = "UTF-8" />
	<title> This is My watch list page </title>
</head>
<body>
	<section>	
			<div class="card ms-3 me-3">
				
				<div class="card-body">
					
					<h1 class="text-center"> My watch list </h1>
					
						 <table class="table mt-3">
  							<thead>
    							<tr>
	    							<th scope="col">Ticket ID</th>
    								<th scope="col"></th>
      								<th scope="col">Name</th>
      								<th scope="col">Genre</th>
      								<th scope="col">Date</th>
      								<th scope="col">Start Time</th>
      						      	<th scope="col">Ticket Prize</th>
      						      	<th scope="col">Seat Remaining</th>
      						      	<th scope="col">Ticket Brought</th>
      						      	<th scope="col">Action</th>
      						      	
    							</tr>
  							</thead>
  						<tbody>
    						<tr th:each="c : ${purchaseList} ">
    						
      							<td th:text="${c.id}"></td>
	    						<td> 
    								<img scr="" class="my_movie_poster" th:src="@{'/img/'+${c.getMovieticket().movieImage}}" alt="movie poster" />
	   							</td>
      							<td th:text="${c.getMovieticket().name}"></td>
      							<td th:text="${c.getMovieticket().genre}"></td>
      							<td th:text="${c.getMovieticket().date}"></td>
      							<td th:text="${c.getMovieticket().startTime}"></td>
      							<td th:text="${c.getMovieticket().ticketPrize}"></td>
      							<td th:text="${c.getMovieticket().seatRemaining}"></td>
      							<td th:text="${c.quantity}"></td>
      							
      							<td>      								
      								<a href="#" th:href="@{'/user/refund-ticket/'+${c.id}}">
    	  								<button class="btn btn-primary btn-sm"> Cancel Ticket </button>
      								</a>  								

      							</td>
   							</tr>
  						</tbody>
					</table>
				</div>
			</div>
	</section>
</body>
</html>
